/* common.css
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 * 
 */
.query{

	border: 1px solid;
	width:80% !important;
}


.error {
	color: red;
	font-weight: bolder;
}

.message {
	color: red;
	font-weight: bolder;
}

.banned{
	background-color: #FF0000
}

.pasado{
	background-color: #F7FE2E;
}

.draft{
	background-color: #A4A4A4;
}

.adultflag{
	background-color: #FF8000;
}

.todos{
	background-color: #FFFFFF;
}